body{
	width: 100%;
	//background-image: url("images/bgimg4.png");
	//background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	background-color: #dcebff;
	//background-color: #282e34;
}

.top-img{
	width: 100%;
}

.main-link{
	font-size: 75px;
	margin-left: 35%;
	margin-top: 25%;
	font-family: "Monotype Corsiva";
}

.sub-link{
	font-size: 35px;
	margin-left: 35%;
	background-color:red;
	width: 220px;
	text-align: center;
	margin-top: 10px;
	border: 5px solid black;
	box-shadow:3px 5px 8px #888888;
	padding: 10px;
	border-radius: 5px;
} 

.sub-link:hover{
	background-color: #FF9090;
}
